* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f6fa;;
}

li {
  list-style: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 6.25rem;
  background-color: white;
  margin-bottom: 2.313rem;
}

nav div {
  display: flex;
}

nav ul {
  display: flex;
  align-items: center;
  background-color: transparent;
}

nav li {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 0.813rem;
  letter-spacing: 1.9px;
  color: #121212;
  padding-left: 2rem;
  background-color: transparent;
}

nav span {
  margin-right: 0.5rem;
}

a {
  text-decoration: none;
  background-color: transparent;
}

nav h1 {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 1.875rem;
  font-weight: bold;
  color: #0290ff;
  background-color: transparent;
}

article {
  display: flex;
  width: calc(100% - 12.5rem);
  border: 0.1rem solid #e8e8e8;
  margin: 0.938rem auto;
  padding: 2rem 1.688rem 1.75rem;
  background-color: #fff;
}

article .books_data {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 45%;
  background-color: transparent;
}

article h2 {
  font-family: RobotoSlab, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.375rem;
  letter-spacing: -0.2px;
  color: #121212;
  padding-top: 0.25rem;
  background-color: transparent;
}

article p {
  background-color: transparent;
}

section {
  margin: 1rem 6.25rem;
}

section button {
  padding: 1rem 2rem;
  background-color: white;
  margin-bottom: 2rem;
}

section h2 {
  color: red;
}

article span {
  padding-top: 1.313rem;
  background-color: transparent;
}

article .books_data button {
  border: none;
  background-color: transparent;
  padding: 0 1rem;
  cursor: pointer;
  list-style: none;
  border-right: 0.1rem solid gray;
}

article .books_data button:first-child {
  padding-left: 0;
}

article .books_data button:last-child {
  border-right: none;
}

input[type=submit] {
  width: 15%;
  font-family: RobotoSlab, Arial, Helvetica, sans-serif;
  font-size: 0.813rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
  padding: 0.813rem 1.375rem;
  border: none;
  border-radius: 3px;
  background-color: #0290ff;
}

form {
  display: flex;
  justify-content: space-between;
  margin: 1rem 6.25rem 1rem;
  width: calc(100% - 12.5rem);
}

form input[type=submit] {
  cursor: pointer;
}

.text_style_5 {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: bold;
  size: 0.875rem;
  letter-spacing: 0;
  color: #121212;
}

.text_style_6 {
  font-family: RobotoSlab, Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 0.875rem;
  color: #4386bf;
  letter-spacing: 0;
}

hr {
  width: calc(100% - 12.5rem);
  margin: 2.5rem 6.25rem 1.813rem;
  border: solid 0.07rem #e8e8e8;
  background-color: #e8e8e8;
}

h3 {
  margin: 1.813rem 6.25rem 1.188rem;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: -0.18px;
  color: #888;
}

input[type=text] {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  letter-spacing: -0.15px;
  color: #c4c4c4;
  padding: 0.813rem 0 0.813rem 1.063rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}

input[type=text]:first-child {
  width: 50%;
}

input[type=text]:nth-child(2) {
  width: 25%;
}

.completed_data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: solid 1px #e8e8e8;
  padding-right: 4.938rem;
  background-color: transparent;
}

.completed_data .completed {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 2rem;
  color: #121212;
}

.completed_data:last-child {
  opacity: 0.5;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  color: #121212;
}

.chapter_data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 3.688rem;
  background-color: transparent;
}

.chapter_data .current {
  opacity: 0.5;
  font-family: RobotoSlab, Arial, Helvetica, sans-serif;
  font-size: 0.813rem;
  font-weight: 300;
  letter-spacing: 0;
  color: #121212;
  background-color: transparent;
}

.chapter_data .chapter {
  font-family: RobotoSlab, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: -0.4px;
  color: #121212;
  padding: 0.438rem 0 1.438rem;
  background-color: transparent;
}

.chapter_data button {
  font-family: RobotoSlab, Arial, Helvetica, sans-serif;
  font-size: 0.813rem;
  font-weight: 300;
  letter-spacing: 0.5px;
  text-align: center;
  padding: 0.436rem 1.188rem 0.5rem 1.375rem;
  color: #fff;
  border: none;
  border-radius: 3px;
  background-color: #0290ff;
  cursor: pointer;
}

.progress_data {
  display: flex;
  align-items: center;
  background-color: transparent;
}

.progress_bar {
  width: 4.25rem;
  height: auto;
  margin-right: 1.375rem;
  background-color: transparent;
}
